html{
  background-color:lightskyblue
}

.top{
  text-align:center;
  color:#fff;
  font-family:sans-serif;
  border:10px solid midnightblue;
  background-color:darkcyan;
  border-radius:25px;
  padding:15px;
  margin: 0% 25% 0% 25%;
}
